<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Default suite" verbose="5">
<listeners>
		<listener
			class-name="ExtentReportListner.ExtentTestNGIReporterListener" />
	</listeners>
  <test thread-count="1" name="Test">
   <classes>
     <class name="TestCase.LoginTestCase"/>
    </classes>
  </test>
</suite>